*{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
h1, h2, h5{
    margin: 0 !important;
}
a{
   text-decoration: none;
}
ul{
    padding-left: 0;
}
li{
    list-style: none;
}
.height-600{
    height: 600px !important;
}
.nature-slider-section{
    margin-top: 92px;
}
.product-section{
    width: 90%;
    margin: 30px auto;
}
.product-section-text{
    width: 100%;
    text-align: center;
}
.product-card-section{
    width: 100%;
    margin: 20px 0;
}
.product-tab-button{
    width: 100%;
    margin: 20px 0;
}
.product-card-content{
    width: 100%;
}
.product-card-container{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    
}
.product-card{
    width: 25%;
    
}
.card-content{
    padding: 10px;
   
}
.product-box{
    border-radius: 4px;
    background: #fff;
    box-shadow:
                inset -5px 5px 10px #ededed;
        
}
.product-img{
    width: 80%;
    height: 200px;
    margin: 0 auto;
    padding: 10px;
}
.product-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.product-details{
    text-align: justify;
    margin: 10px 0;
    padding: 10px;
}
.product-size{
  text-align: center;
}

.get-section{
    width: 100%;
     margin: 30px 0;
}
.get-container{
    width: 100%;
}
.get-top-row{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.get-top-left{
    width: 50%;
    height: 400px;
}
.get-top-left-image{
    width: 100%;
    height: 400px;
   
}
.get-top-left-image img{
    width: 100%;
    height: 100%;
}
.get-top-right{
    width: 50%;
}
.right-content-p{
    padding: 0 20px;
    
}
.get-text-content{
   height: 340px;
    overflow: auto;
  
}
.get-text{
    margin-bottom: 10px;
    text-align: justify;
}
.get-bottom-row{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.get-bottom-left{
    width: 50%;
    height: 400px;
}
.get-bottom-right{
    width: 50%;
    height: 400px;
}
.get-bottom-right-image{
    width: 100%;
    height: 400px;
}
.get-bottom-right-image img{
    width: 100%;
    height: 100%;
}
.right-content-text{
    height: 340px;
    overflow: auto;
}
.get-right-content{
    padding: 0 20px;
}
.skincare-essential-text{
    padding: 10px 0;
    text-align: center;
}
.skincare-essential-product{
    width: 100%;  
}
.skincare-essential-product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.skincare-product{
    width: 25%;
}
.skincare-essential-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.skincare-image-section{
    width:40%;
}
.skincare-image{
    width: 80px;
    height: 100px;
    padding: 10px 0;
    background-color: #fff;
    border-radius: 5px;
}

.skincare-image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;

}
.contact-section{
    padding: 20p x0;
}
.skincare-text-t{
    line-height: 1;
}
.contact-section-title{
    width: 100%;
    text-align: center;
}
.contact-adress{
    text-align: center;
}
.contact-adress-details{
   
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
.rdpr{
    list-style: none;
    text-align: center;
   
}
.rdpr li {
    float: left;
    padding: 0 30px;
    width: 33%;
}
.mrpc{
    width: 100%;
    height: 100%;
}
.footer-section{
    margin-top: 40px;
    background-color: #629441;
}
.footer-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}
.footer-left{
    width: 33%;
}
.left-middle-link{
    width: 33%;
  
   
}
.middle-link-content{
    width: 100%;
    padding: 20px 30px;
}

.middle-link-title{
    text-transform: uppercase;
}
.middle-link-content h6{
    font-size: 20px;
    color: #fff;
}
.middle-link .ul4 li {
    list-style: none;
    padding: 7px 3px;
    color: #fff;
}
.ul4{
    padding-left: 0;
}
.ul4 li a{
    color: #fff;
}
.footer-contact{
    width: 33%;
   
}
.footer-contact-content{
    width: 100%;
    padding: 20px;
}
.footer-contact-title h6{
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}
.cl4{
 padding-left: 0;
}
.cl4 li{
    padding: 7px 0;
    color: #fff;
}

.hr{
    border: 1px solid #fff;
}
.footer-copyright{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}
.nav-tabs{
    border-bottom: 1px solid #629441;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-color: #629441 #629441 #fff;
}
.nav-link{
    color: #629441;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .height-600{
        height: 300px !important;
    } 
    .product-title-heading{
        font-size: 22px;
    }
    .product-card{
        width: 100%;
    }
    .product-img{
        width: 100%;
        height: 300px;
    }
    .product-img img{
        border-radius: 5px;
    }
    .get-top-row{
        display: block;
        height: auto;
    }
    .get-top-left{
        width: 100%;
        height: auto;
    }
    .get-top-left-image{
        height: 254px;
    }
    .get-top-left-image img{
        border-radius: 5px;
    }
    .get-top-right{
        width: 100%;
    }
    .get-bottom-row{
        display: none;
    }
    .get-top-content-title h1{
        font-size: 22px;
    }
    .get-top-content-title{
        padding: 20px 0;
    }
    .right-content-text{
        height: auto;
    }
    .skincare-head h1{
        font-size: 22px;
    }
    .skincare-head{
        font-size: 22px;
    }
    .skincare-subhead p{
        font-size: 13px;
    }
    .skincare-essential-product{
        display: block;
    }
    .skincare-product{
        width: 100%;
    }
    .contact-heading{
      font-size: 22px;
    }
    .contact-section-title{
        padding: 10px 0;
    }
    .contact-adress{
        text-align: justify;
    }
    .adress-text{
        font-size: 13px;
    }
    .contact-adress-details{
        width: 100%;
        text-align: justify;
    }
    .rdpr li{
        width: 100%;
    }
    .rdpr{
        text-align: justify;
    }
    .footer-row{
        display: block;
    }
    .footer-left{
        width: 100%;
        padding: 25px 0;
    }
    .left-middle-link{
        width: 100%;
    }
    .footer-contact{
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .product-card{
        width: 33%;
    }
    .product-img{
        width: 100%;
        padding: 10px 0;
    }
    .height-600{
        height: 350px !important;
    }
    .get-top-content-title h1{
         font-size: 25px;
    }
    .get-top-content-title{
        padding: 10px 0;
    }
    .right-title-text{
        padding: 10px 0;
    }
    .right-title-text h1 {
        font-size: 25px;
    }
    .skincare-essential-text{
        padding: 45px 0;
    }
    .skincare-head h1 {
        font-size: 25px;
    }
    .skincare-product{
        width: 50%;
    }
    .skincare-product-title{
        margin-top: 10px;
    }
    .contact-section-title{
        padding: 20px 0;
    }
    .contact-adress{
        text-align: justify;
    }
    .rdpr li{
        padding: 0;
    }
    .right-content-title h1 {
        font-size: 25px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .height-600{
        height: 415px !important;
    }
 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .skincare-product{
        width: 33%;
    }
    .get-top-content-title h1{
        font-size: 35px;
    }
    .right-content-title h1{
        font-size: 35px;
    }
    .skincare-head h1{
        font-size: 35px;
    }
    .contact-heading{
        font-size:25px ;
    }
    .contact-heading{
        font-size: 35px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .skincare-product{
        width: 25%;
    }
    .product-card{
        width: 25%;
    }
    .product-img{
        height: 300px;
        padding: 10px;
    }
}