*{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
h1, h2, h5{
    margin: 0 !important;
}
.height-600{
    height: 600px !important;
}

.product-section{
    width: 90%;
    margin: 30px auto;
}
.product-section-text{
    width: 100%;
    text-align: center;
}
.product-card-section{
    width: 100%;
    margin: 20px 0;
}
.product-tab-button{
    width: 100%;
    margin: 20px 0;
}
.product-card-content{
    width: 100%;
}
.product-card-container{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    
}
.product-card{
    width: 25%;
    
}
.card-content{
    padding: 10px;
   
}
.product-box{
    border-radius: 4px;
    background: #fff;
    box-shadow:
                inset -5px 5px 10px #ededed;
        
}
.product-img{
    width: 80%;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
}
.product-img img{
    width: 100%;
    height: 100%;
}
.product-details{
    text-align: justify;
    margin: 10px 0;
    padding: 20px;
}
.product-size{
  text-align: center;
}

.get-section{
    width: 100%;
     margin: 30px 0;
}
.get-container{
    width: 100%;
}
.get-top-row{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.get-top-left{
    width: 50%;
    height: 400px;
}
.get-top-left-image{
    width: 100%;
    height: 400px;
   
}
.get-top-left-image img{
    width: 100%;
    height: 100%;
}
.get-top-right{
    width: 50%;
}
.right-content-p{
    padding: 0 20px;
    
}
.get-text-content{
   height: 340px;
    overflow: auto;
  
}
.get-text{
    margin-bottom: 10px;
}
.get-bottom-row{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.get-bottom-left{
    width: 50%;
    height: 400px;
}
.get-bottom-right{
    width: 50%;
    height: 400px;
}
.get-bottom-right-image{
    width: 100%;
    height: 400px;
}
.get-bottom-right-image img{
    width: 100%;
    height: 100%;
}
.right-content-text{
    height: 340px;
    overflow: auto;
}
.get-right-content{
    padding: 0 20px;
}
.skincare-essential-text{
    padding: 10px 0;
    text-align: center;
}
.skincare-essential-product{
    width: 100%;  
}
.skincare-essential-product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.skincare-product{
    width: 25%;
}
.skincare-essential-main{
    width: 100%;
    display: flex;
}
.skincare-image-section{
    width:40%;
}
.skincare-image{
    width: 80px;
    height: 100px;
    padding: 10px 0;
    background-color: #fff;
    border-radius: 5px;
}

.skincare-image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;

}
.contact-section{
    padding: 20p x0;
}
.skincare-text-t{
    line-height: 1;
}
.contact-section-title{
    width: 100%;
    text-align: center;
}
.contact-adress{
    text-align: center;
}
.contact-adress-details{
    width: 70%;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
.rdpr{
    list-style: none;
    text-align: center;
   
}
.rdpr li {
    float: left;
    padding: 0 30px;
    width: 33%;
}
.mrpc{
    width: 100%;
    height: 100%;
}
.footer-section{
    margin-top: 40px;
    background-color: #629441;
}
.footer-left{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.footer-left{
    width: 33%;
}